.anchor {
  font-size: toRem(14);
  font-weight: $font-weight-regular;

  &.active {
    color: purple;
  }

  &.title {
    font-weight: $font-weight-bold;
  }

  &.subTitle {
    margin-left: 20px;
    font-weight: $font-weight-regular;
  }
}
