@import 'reset.scss';

:root {
  --primary-color: #{$primary-color-light};
  --secondary-color: #{$secondary-color-light};
  --tertiary-color: #{$tertiary-color-light};
  --quaternary-color: #{$quaternary-color-light};
  --code-color: #{$code-color-light};
  --gray-color: #{$dark-gray};
  --background-color: #{$light-theme-background};
  --text-color: #{$light-theme-text};
  --font-mono: #{$font-family-mono};
}

[data-theme='dark'] {
  --primary-color: #{$primary-color-dark};
  --secondary-color: #{$secondary-color-dark};
  --tertiary-color: #{$tertiary-color-dark};
  --quaternary-color: #{$quaternary-color-dark};
  --code-color: #{$code-color-dark};
  --gray-color: #{$light-gray};
  --background-color: #{$dark-theme-background};
  --text-color: #{$dark-theme-text};
}

*,
html {
  scroll-behavior: smooth !important;
}

body {
  font-size: $base-font-size;
  font-family: $font-family-secondary;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: $body-theme-transition;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: 700;
  line-height: 2.1rem;
  letter-spacing: 0.05rem;
}

p {
  line-height: 1.95rem;
  letter-spacing: 0.05rem;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// span,
// a {
//   transition: $text-theme-transition 0s;
// }

a {
  font-size: 1rem;
  font-family: $font-family-primary;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.1rem;
  word-break: break-all;
}

pre {
  font-family: monospace;
}

img {
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: hsl(210deg, 15%, 20%);

  [data-theme='light'] & {
    background-color: hsl(225deg, 25%, 95%);
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: hsl(210deg, 14%, 66%);
  border: 2px solid hsl(210deg, 15%, 20%);

  [data-theme='light'] & {
    background-color: hsl(225deg, 12%, 40%);
    border: 2px solid hsl(225deg, 25%, 95%);
  }
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}
