.container {
  position: relative;
  // padding: spacing(8);
  box-sizing: border-box;
  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  &:hover {
    .hover {
      opacity: 1;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      background-color: var(--box-hover-color);
    }
  }
}

.hover {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: -1.8rem;
  right: -1.8rem;
  top: -1.5rem;
  bottom: -1.5rem;
  border-radius: 8px;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.title {
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: spacing(2);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.tags {
  display: flex;
  align-items: center;
}

.description {
  margin-bottom: spacing(3);
  color: var(--gray-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.tagIcon {
  margin-right: spacing(2);
  path {
    fill: var(--color-secondary);
  }
}

.tag {
  display: inline-block;
  padding: spacing(2);
  font-size: 0.825rem;
  font-family: $font-family-primary;
  border-radius: 8px;
  margin-bottom: spacing(3);

  &.articleTag {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
  }

  &.projectTag {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
  }
}

.date {
  display: block;
  margin-bottom: spacing(3);
  font-weight: $font-weight-semi-bold;
}
