.anchor {
  display: inline-flex;
  width: fit-content;
  cursor: pointer;
  gap: spacing(2);

  &.leftArrow {
    flex-direction: row-reverse;

    .arrow {
      transform: scaleX(-1);
    }

    &:hover {
      .arrow {
        transform: scaleX(-1) translateX(4px);
      }
    }
  }

  &:hover {
    .arrow {
      transform: translateX(4px);
    }
  }
}

.arrow {
  display: inline-block;
  transition: border $theme-transition, transform $theme-transition;
}
