.header {
  padding: spacing(8);
}

.logo {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
  letter-spacing: 0.3rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $max-container-size;
  margin: 0 auto;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: spacing(4);
}

.deskNav {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.dropdown {
  display: block;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.navList {
  display: flex;
  flex-direction: row;
  gap: spacing(2);
}

.navItem {
  display: flex;
  gap: spacing(2);

  &.activeItem {
    color: var(--tertiary-color);
  }

  &::after {
    content: '•';
    color: var(--secondary-color);
  }

  &:last-child {
    &::after {
      content: '';
    }
  }
}
