<!DOCTYPE html>
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="theme-color", content="#000000")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cutive+Mono")
    link(rel="stylesheet", href="./styles/index.styl")
    title Cesar Boaventura Front-End Engineer
  body
    #particles
    main
      header#main-header
        h1 Cesar Boaventura
        h2 Front-End Engineer

      section#profile
        p
          | I am a 21 years old Front End Developer with 2+ years of professional experience.
        p
          | Self-taught, currently focused on React
        p
          | Experience with CSS methodologies like BEM and RSCSS (Styled Components for React)
        p
          | Deep JS concepts like Prototypes, Closures, Functional Programming, Asynchronous Programming and Event Loop

      hr

      footer#main-footer
        .social-media
          h3 Contact Me Via:
          a.linkedin(href="https://www.linkedin.com/in/cesar-boaventura/", target="_blank")
          a.github(href="https://github.com/cesar-cb", target="_blank")
          a.mail(href="mailto:contact@cesarboaventura.dev")

  
    script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
    script(src="./scripts/hmr.js")
    script(src="./scripts/particles.js")
