.layoutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: spacing(4);
  min-height: calc(100dvh - 72px);
  gap: spacing(15);

  @media screen and (min-width: 768px) {
    min-height: calc(100dvh - 104px);
    padding: spacing(8);
  }
}

.defaultLayoutContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-container-size;
  width: 100%;
}

.small {
  max-width: 680px;
}

.backButton {
  margin-bottom: spacing(10);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-container-size;
  width: 100%;

  ul {
    display: flex;
    gap: spacing(10);
  }

  a {
    font-weight: $font-weight-regular;
    font-size: toRem(14);
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.rights {
  margin-top: spacing(4);
  color: var(--gray-color);
  font-size: toRem(14);
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    text-align: left;
  }
}
