.layoutWrapper {
  padding: spacing(8);
}

.defaultLayoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: $max-container-size;
  width: 100%;
}

.small {
  max-width: 660px;
}
