#main-footer
  .social-media
    h3
      margin 30px 0
      font-size 1.75em

    a
      display inline-block
      margin-left 10px
      margin-right 30px
      width 24px
      height 24px
      transform scale(1.4)
